<html>
	<head th:replace="~{base :: head}"></head>	
	
	<body>
		<div th:replace="~{base :: logo}"></div>
		<div class="container">
			<div th:replace="~{base :: titulo('Agendar nova transferência')}"></div>
			<div class="card mt-3">
				<form th:object="${requisicaoNovoAgendamento}" class="card-body" action="/agendamento/novo" method="post">
					<div class="form-group">
						<label for="contaOrigem">Conta de origem</label>
						<input th:field="*{contaOrigem}" th:errorclass="is-invalid" class="form-control" placeholder="conta de origem"/> 
						<div class="invalid-feedback" th:erros="*{contaOrigem}">
							Campo não pode estar em branco/vazio (*Obrigatório)
						</div>
					</div>
					
					<div class="form-group">
						<label for="contaDestino">Conta de destino</label>
						<input th:field="*{contaDestino}" th:errorclass="is-invalid" class="form-control" placeholder="conta de destino"/> 
						<div class="invalid-feedback" th:erros="*{contaDestino}">
							Campo não pode estar em branco/vazio (*Obrigatório)
						</div>
					</div>
					
					<div class="form-group">
						<label for="valorTransTaxa">Valor da transferência</label>
						<input th:field="*{valorTransTaxa}" th:errorclass="is-invalid" class="form-control" placeholder="valor da transferência"/> 
						<div class="invalid-feedback" th:erros="*{valorTransTaxa}">
							Campo não pode estar em branco/vazio (*Obrigatório)
						</div>
					</div>
					
					<div class="form-group">
						<label for="dataTransferencia">Data da transferência</label>
						<input th:field="*{dataTransferencia}" th:errorclass="is-invalid" class="form-control" placeholder="data da transferência"/> 
						<div class="invalid-feedback" th:erros="*{dataTransferencia}">
							Campo não pode estar em branco/vazio (*Obrigatório)
						</div>
					</div>
					
					<div class="form-group">
						<label for="dataAgendamento">Data de Agendamento</label>
						<input th:field="*{dataAgendamento}" th:errorclass="is-invalid" class="form-control" placeholder="data de agendamento"/> 
						<div class="invalid-feedback" th:erros="*{dataAgendamento}">
							Campo não pode estar em branco/vazio (*Obrigatório)
						</div>
					</div>
					<button class="btn btn-primary" type="submit">Agendar</button>
				</form>
			</div>
		</div>
	</body>
</html>