<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">

	<head th:replace="~{head :: head}"></head>
		
	<body>
		<header th:replace="~{header :: header}"></header>
		
		<div class="layout-main">	
		
			<aside th:replace="~{aside :: aside}"></aside>
			
			<section class="layout-content">
				<div class="container">
					<div class="tab-content" id="nav-tabContent">
							<a href="https://github.com/tm-vagas/avaliacao">Avaliação</a>
							O usuário deve poder agendar uma transferência financeira com as seguintes informações:
							<br>
							<br>
							Conta de origem (padrão XXXXXX) Conta de destino (padrão XXXXXX) 
							<br>
							Valor da transferência Taxa (a ser calculada) 
							<br>
							Data da transferência (data que será realizada a transferência) 
							<br>
							Data de agendamento (hoje)
							<br>
							Cada tipo de transação segue uma regra diferente para cálculo da taxa
					</div>
			</section>		
		</div>
		
		<footer th:replace="~{footer :: footer}"></footer>
		
		<!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/webjars/jquery/jquery.min.js"></script>
		<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
		<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		    
			$(function() {
				$('[data-toggle="popover"]').popover();
			});
			
			$(document).ready(function(){
			    $(".navbar-toggle").click(function(){
			        $(".sidebar").toggleClass("sidebar-open");
			    })
			});
	
		</script>
	</body>
</html>